.pagination {
    display: flex;
    align-items: center;
    margin: 4rem 0;
    position: relative;
    justify-content: center;
    z-index: 10;
    font-family: var(--font-family-three);
    font-size: 1.9rem;
    @media only screen and (max-width: 576px) {
        margin: 2rem 0;
    }

    .prev-page[disabled],
    .next-page[disabled] {
        pointer-events: none;
        background-color: rgb(240, 240, 240);
    }
    .prev-page,
    .next-page {
        cursor: pointer;
        backface-visibility: hidden;
        color: var(--color-dark);
        position: relative;
        z-index: 15;
        padding: 5px 1rem;
        transition: all 0.2s cubic-bezier(0.445, 0.05, 0.55, 0.95);
        background-color: rgb(230, 230, 230);
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 36px;
        height: 36px;
        svg {
            width: 1.6rem;
            height: 1.6rem;
            transition: all 0.2s cubic-bezier(0.895, 0.03, 0.685, 0.22);
        }
        &:hover {
            background-color: rgb(236, 236, 236);
        }
    }

    span.info-page {
        position: relative;
        color: var(--color-dark);
        z-index: 15;
        height: 36px;
        margin: 0 1.3rem;
        padding: 0 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50px;
        background-color: rgb(230, 230, 230);
    }
}
