.articles-container {
    @import './Responsive';
}
.article-section {
    .header-text {
        margin-bottom: 2rem;
        font-size: 20px;
    }

    .posts {
        .article {
            width: 100%;
            margin: 0 0 3rem;
            .image-wrapper {
                flex-shrink: 0;
                border-radius: 0 !important;
                width: 250px !important;
            }
            img {
                height: 100%;
            }
            .content {
                padding-left: 2rem;
            }
            .title {
                font-size: 18px;
            }
        }
        .article-ads {
            margin-bottom: 3rem;
        }
    }
}
